  <section  id="team" class="container-fluid   text-center section" style="padding: 100px 0px;">
  <div class="container">
        <div class="row" style="margin-bottom:100px; ">
            <div class="col-lg-8 col-lg-offset-2 ">
                <h2>Team</h2>
                <h4>Animax is the game outsourcing studio based in India. We are specialized in making 3D game ready assets.
 </h4>
 <p>
     Right now, our core team includes 16 professionals, all of them working at our offices in Delhi and experts in their fields. Besides our core team, we have access to a huge amount of both internal and external talent’s 

 </p>
            
            </div>

        </div>
        <div style="padding: 0px 100px;">
        <div class="row">
            <div class="col-sm-6 member" style="padding: 50px 0px;">
                <div class="col-sm-6 ">
                <img src="http://placehold.it/150" class="img-circle">
                </div>
                <div class="col-sm-6" > 
                        <h3 >Name </h3> 
                        <p>(positon)</p>
                        <p> 
                                    <a href="#" class="btn btn-social-icon btn-facebook "  ><i class="fa fa-facebook"> </i></a>
                                     <a href="#" class="btn btn-social-icon btn-google  " ><i class="fa fa-google-plus"> </i></a>
                        </p>
               </div>
            </div>
              <div class="col-sm-6 member" style="padding: 50px 0px;">
                <div class="col-sm-6 ">
                <img src="http://placehold.it/150" class="img-circle">
                </div>
                <div class="col-sm-6" > 
                        <h3 >Name </h3> 
                        <p>(CEO)</p>
                        <p> 
                                    <a href="#" class="btn btn-social-icon btn-facebook "  ><i class="fa fa-facebook"> </i></a>
                                     <a href="#" class="btn btn-social-icon btn-google  " ><i class="fa fa-google-plus"> </i></a>
                        </p>
               </div>
            </div>
        </div>
          <div class="row">
            <div class="col-sm-6 member" style="padding: 50px 0px;">
                <div class="col-sm-6 ">
                <img src="http://placehold.it/150" class="img-circle">
                </div>
                <div class="col-sm-6" > 
                        <h3 >Name </h3> 
                        <p>(positon)</p>
                        <p> 
                                    <a href="#" class="btn btn-social-icon btn-facebook "  ><i class="fa fa-facebook"> </i></a>
                                     <a href="#" class="btn btn-social-icon btn-google  " ><i class="fa fa-google-plus"> </i></a>
                        </p>
               </div>
            </div>
              <div class="col-sm-6 member" style="padding: 50px 0px;">
                <div class="col-sm-6 ">
                <img src="http://placehold.it/150" class="img-circle">
                </div>
                <div class="col-sm-6" > 
                        <h3 >Name </h3> 
                        <p>(CEO)</p>
                        <p> 
                                    <a href="#" class="btn btn-social-icon btn-facebook "  ><i class="fa fa-facebook"> </i></a>
                                     <a href="#" class="btn btn-social-icon btn-google  " ><i class="fa fa-google-plus"> </i></a>
                        </p>
               </div>
            </div>
        </div>
        </div>
        </div>
    </section>