  
    <!-- Intro Header -->
    <header  class="intro section"  ng-style="screenHeight" >
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                    <div  >
                        <h1 class="brand-heading " style="margin-bottom: 0px; ">Animax</h1>
                        <h2>Studio</h2>
                        </div>
                        <p class="intro-text">Animax is high-end, cutting-edge 2D, 3D game art development studio delivering premium quality game art and assets to the world’s leading game developers
                          </p>
                        
                    </div>
                </div>
            </div>
        </div>
    </header>

  <!-- About Section -->
  <div ng-include="'views/about/about.html'" ></div>

   <!-- Services Section -->
  <div ng-include="'views/vision/vision.html'"  ></div>

 
    <!-- Download Section -->
    <section id="team"  class="content-section text-center section">
        <div class="download-section"  ng-parallax pattern="'https://cdn.shutterstock.com/shutterstock/videos/9568208/thumb/1.jpg'" speed="10" reverse="false">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>section </h2>
                    <p> Parallax section.</p>
                    <a href="#" class="btn btn-default btn-lg">Visit Page</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact  </h2>
                <p>Feel free to email us to provide some feedback on our templates, give us suggestions for new templates and themes, or to just say hello!</p>
                <p><a href="mailto:feedback@startbootstrap.com">feedback@startbootstrap.com</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li>
                        <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
