  <section  id="about" class="container-fluid   text-center" style="padding-top: 60px;"   ng-parallax pattern="'assets/img/about-bg.jpg'" speed="10" reverse="false">
      <div class="container">
       <div class="row">
            <div class="col-sm-6 col-sm-offset-3 " >
                 <div>
                        <img src="assets/img/logo-lg.png"  ng-class="{'animated jello':hovering}" ng-mouseenter="hovering=true"
                         ng-mouseleave="hovering=false" width="200" class="img-fluid"   />
                    </div>
       </div>
        <div class="row">
           
             
            <div class="col-sm-8 col-sm-offset-2 wow fadeInUp" style="background: whitesmoke; color: black; padding: 10px;">
                <h2>The company</h2>
                 <hr style="border-color: black;" >
                <p >Animax Studio is a game art development company aim to provide services in global game industry.
                    Founded by friends, Establish global operation in Warsaw, Poland and Studio lab in Delhi / Gurugram, India. Animax is driven by its strong employee's having vast experience in 3D asset development of WWE, Kingdom Hearts, Rome, Disney, EA Sports and much more titles. We ensure to deliver quality project to our clients with respect to time. 
                </p>
            </div>
        </div>
     
       
        </div>
    </section>