  <section  id="vision" class="container-fluid content-section text-center section" >
  <div class="container">
        <div class="row" style="margin-bottom:100px; ">
            <div class="col-lg-8 col-lg-offset-2 ">
                <h2>Vision</h2>
                <p>We aim to build game art development, online entertainment and key marketing services to with key players around the globe by our high end staff. Game art development is our passion and key of success. </p>
            
            </div>
        </div>
        </div>
    </section>