
    <!-- Page Content -->
    <section id="portfolio" class="container" style="padding-top:60px; overflow: hidden; "> 

        <div class="row">

            <div class="col-lg-12">
                <h1 class="header text-center">Portfolio</h1>
            </div>
          <ul class="flowGrid" ng-flow-grid="portfolioGrid" min-item-width="250">
    <li class="flowGridItem imghvr-push-up" ng-repeat="item in photos">
    <img ng-src="{{item.src}}">
        
        <figcaption>
       
          <a href="{{item.src}}" class="btn btn-primary" data-gallery="portfolio" data-toggle="lightbox">View this picture</a>
        </figcaption>
    </li>
</ul>
         
          
        </div> 


    </section>
  